body {
    text-align: center;
    background: #00ecb9;
    font-family: sans-serif;
    font-weight: 100;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #396;
    font-weight: 100;
    font-size: 50px;
    margin: 20px 0;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color :#396;
    text-transform: uppercase;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: #00bf96;
    display: inline-block;
    margin: 0 10px;
}

#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: #00816a;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

label {
    font-size: 18px;
    margin-top: 20px;
}

input {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#demo {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-decoration-style: dotted;
}
